useDynLib(velox)
exportPattern("^[[:alpha:]]+")
import(methods, Rcpp, raster, rgeos)
S3method("as.RasterLayer", "VeloxRaster")
S3method("as.RasterStack", "VeloxRaster")
S3method("aggregate", "VeloxRaster")
S3method("copy", "VeloxRaster")
S3method("crop", "VeloxRaster")
S3method("extract", "VeloxRaster")
S3method("getCoordinates", "VeloxRaster")
S3method("meanFocal", "VeloxRaster")
S3method("medianFocal", "VeloxRaster")
S3method("sumFocal", "VeloxRaster")
S3method("write", "VeloxRaster")
S3method("rasterizePolygons", "VeloxRaster")
S3method("col2im", "VeloxRaster")
S3method("im2col", "VeloxRaster")
